html {
	background: url(../img/pika.jpg);
	font-family: "Trebuchet MS",Helvetica, sans-serif 	
}

.top {
	border-style: hidden;
	box-shadow: 0 0 4px;
	border-radius: 8px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 20px;
	text-align: center;
	background-color: white;
	width: 300px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}

.top input {
	border-style: hidden;
	box-shadow: 0 0 4px;
	border-radius: 8px;
	text-align: center;
}

.imgBox {
	border-style: hidden;
	box-shadow: 0 0 4px;
	border-radius: 8px;
	text-align: center;
	margin-bottom: 20px;
	background-color: white;
	width: 30%;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 40px;
}

.imgBox li {
	display: inline;
}

.information {
	height:280px;
}
.information p {
	padding-left: 20px;
}
.information h2 {
	text-align: center;
}

.pokedexData {
	border-style: hidden;
	box-shadow: 0 0 4px;
	border-radius: 8px;
    float:left;  
    width:33%; 
    height:280px;
    background-color: white;
    margin-right: 20px; 
}

.stats {
	border-style: hidden;
	box-shadow: 0 0 4px;
	border-radius: 8px;
	float:left;  
	width:32%; 
	height:280px;
	background-color: white;
}

.moves {
	border-style: hidden;
	box-shadow: 0 0 4px;
	border-radius: 8px;
    float:right; 
    width:33%; 
    height:280px;
    background-color: white;
}

.moveBox {
	height: 200px;
	overflow: auto;
}

.evolution {
	border-style: hidden;
	box-shadow: 0 0 4px;
	border-radius: 8px;
	background-color: white;
	text-align: center;
}